
.img1 {
    position: absolute;
    width: 297px;
    height: 453px;
    left: 419px;
    top: 173px;
    border-radius: 12px;
    z-index: 1;
}

.square {
    position: fixed;
    align-self: center;
    width: 601px;
    height: 453px;
    left: 419px;
    top: 173px;
    background: #FFFFFF;
    box-shadow: 12px 12px 54px rgba(103, 103, 103, 0.25);
    border-radius: 12px;

}

.heading_text{

    position: absolute;
    width: 202px;
    height: 135px;
    left: 753px;
    top: 223px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34.2444px;
    line-height: 39px;
    color: #000000;

}


.description{
    position: absolute;
    width: 237px;
    height: 72px;
    left: 753px;
    top: 372px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

}

.price{
    position: absolute;
    width: 149px;
    height: 70px;
    left: 753px;
    top: 468px;

    font-family: 'Katibeh';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3C8269;


}

.dprice{
    position: absolute;
    width: 55px;
    height: 19px;
    left: 915px;
    top: 487px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 19px;

    color: #3E3E3E;

}

.line{
    position: absolute;
    width: 65px;
    height: 0px;
    left: 910px;
    top: 510px;
    border: 1px solid #000000;

}

.cart_button{
    position: absolute;
    width: 237px;
    height: 53px;
    left: 753px;
    top: 538px;

    background: #1A4031;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
}

.cart_button:hover {
    background-color: #0b5e0e;
    color: white;
  }